<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>burger2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,692}</string>
                <key>spriteSourceSize</key>
                <string>{578,692}</string>
                <key>textureRect</key>
                <string>{{1299,1457},{578,692}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>burger3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{595,792}</string>
                <key>spriteSourceSize</key>
                <string>{595,792}</string>
                <key>textureRect</key>
                <string>{{1315,663},{595,792}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pancake1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{595,524}</string>
                <key>spriteSourceSize</key>
                <string>{595,524}</string>
                <key>textureRect</key>
                <string>{{683,1467},{595,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sburger2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{614,728}</string>
                <key>spriteSourceSize</key>
                <string>{614,728}</string>
                <key>textureRect</key>
                <string>{{683,737},{614,728}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sburger3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,834}</string>
                <key>spriteSourceSize</key>
                <string>{637,834}</string>
                <key>textureRect</key>
                <string>{{1,1},{637,834}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spancake3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,733}</string>
                <key>spriteSourceSize</key>
                <string>{680,733}</string>
                <key>textureRect</key>
                <string>{{1,837},{680,733}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spizza2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,12}</string>
                <key>spriteSize</key>
                <string>{721,660}</string>
                <key>spriteSourceSize</key>
                <string>{745,684}</string>
                <key>textureRect</key>
                <string>{{1315,1},{721,660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spizza3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,12}</string>
                <key>spriteSize</key>
                <string>{734,673}</string>
                <key>spriteSourceSize</key>
                <string>{758,697}</string>
                <key>textureRect</key>
                <string>{{640,1},{734,673}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>food-0.png</string>
            <key>size</key>
            <string>{2037,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24120a30fe412d1fba9616970f955c1b:162abb708a526f8384f216817fffd6d9:273e55013a3956655822486345ebeb4f$</string>
            <key>textureFileName</key>
            <string>food-0.png</string>
        </dict>
    </dict>
</plist>
