<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pancake2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{627,603}</string>
                <key>spriteSourceSize</key>
                <string>{627,603}</string>
                <key>textureRect</key>
                <string>{{1273,1},{627,603}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pancake3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{630,661}</string>
                <key>spriteSourceSize</key>
                <string>{630,661}</string>
                <key>textureRect</key>
                <string>{{1,1177},{630,661}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pizza1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{629,567}</string>
                <key>spriteSourceSize</key>
                <string>{629,567}</string>
                <key>textureRect</key>
                <string>{{642,1},{629,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pizza2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,612}</string>
                <key>spriteSourceSize</key>
                <string>{672,612}</string>
                <key>textureRect</key>
                <string>{{668,606},{672,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pizza3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{686,625}</string>
                <key>spriteSourceSize</key>
                <string>{686,625}</string>
                <key>textureRect</key>
                <string>{{664,1223},{686,625}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sburger1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{605,665}</string>
                <key>spriteSourceSize</key>
                <string>{605,665}</string>
                <key>textureRect</key>
                <string>{{1,570},{605,665}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spancake1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{639,567}</string>
                <key>spriteSourceSize</key>
                <string>{639,567}</string>
                <key>textureRect</key>
                <string>{{1,1},{639,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spancake2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{671,648}</string>
                <key>spriteSourceSize</key>
                <string>{671,648}</string>
                <key>textureRect</key>
                <string>{{1352,1223},{671,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spizza1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{676,615}</string>
                <key>spriteSourceSize</key>
                <string>{676,615}</string>
                <key>textureRect</key>
                <string>{{1342,606},{676,615}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>food-1.png</string>
            <key>size</key>
            <string>{2024,1872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24120a30fe412d1fba9616970f955c1b:162abb708a526f8384f216817fffd6d9:273e55013a3956655822486345ebeb4f$</string>
            <key>textureFileName</key>
            <string>food-1.png</string>
        </dict>
    </dict>
</plist>
